/binaries
/publish
bin/
Bin/
obj/
TestResults/
_ReSharper*/
.DS_Store
*.DS_Store
*.Cache
*.cache
/msbuild.log
*.user
*.suo
*.userprefs
.DS_Store
*.orig
.sonar
target/
.checkstyle
UpgradeLog*.htm
